<nav class="navbar navbar-default" style="background-color: black">
  <div class="container-fluid navCustom">
    <div class="row">
      <div class="navbar-header col-lg-2">
        <a class="navbar-brand" routerLink="/"><img src="/assets/images/krello.jpg" style="width: 120px;  margin-top:10px; margin-left:-5px"></a>
      </div>
      <div class="col-lg-6">
        <div class="btn-group" style="margin-top: 30px; margin-left: 150px">
          <a routerLink="/todo/new"><button type="button" class="btn btn-primary"  style="width:166px">New</button></a>
          <a routerLink="/todo"><button type="button" class="btn btn-primary "  style="width:166px">To-do</button></a>
          <a routerLink="/profile"><button type="button" class="btn btn-primary" style="width:166px">Profile</button></a>
        </div>
      </div>
    </div>


    <ul class="nav navbar-nav navbar-right" style="background-color: black">
        <li routerLinkActive= "active">
          <a routerLink="/signup" style="background-color: black">
            <button class="btn btn-primary" style="margin-top: -70px" >Sign Up</button>
          </a>
        </li>
        <li routerLinkActive= "active">
          <a routerLink="/signin" style="background-color: black">
            <button class="btn btn-success" style="margin-top: -70px">Sign In</button>
          </a>
        </li>
    </ul>
  </div>

  <div class="btn-group">
    <div class="container" style="margin-left: 100px;">
      <div class="row">
        <div class="col-lg-3">
          <button type="button" class="btn btn-primary" style="height: 50px; width: 300px">All</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-success" style="height: 50px; width: 300px">Completed</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger" style="height: 50px; width: 300px">Late</button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-warning" style="height: 50px; width: 300px">Ongoing</button>
        </div>
      </div>
    </div>
  </div>
</nav>


