<div style="background-color: #edeff0">
  <div style="max-width: 1200px;padding: 2pc;position: relative; height:200px">
    <div class="row">
      <div class="col-lg-2">
        <img src="/assets/images/krello.jpg" class="img-thumbnail picture" style="height: 150px;">
      </div>
      <div class="col-lg-8">
        <h1>Kalikalyan Dash</h1>
        <h4>San Jose</h4>
      </div>

      <div class="col-lg-2">
        <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span> Edit Profile</button>
      </div>
    </div>
  </div>
</div>



