<div style="background-color: #edeff0">
  <div style="max-width: 1200px;padding: 2pc;position: relative; height:200px">
    <div class="row">
      <div class="col-lg-8">
        <h1>Complete Assignments of 180-92</h1>
        <h4>Priority- Medium</h4>
        <h3>Completed/Not Completed</h3>


      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span> Edit Todo</button>
        <br><br>
        <h3>toBeDoneBy</h3>
        <h3>completedAt</h3>
      </div>

    </div>
  </div>
</div>






