<a [routerLink]="['/todo',index]">
  <div class="row">
    <div class= "col-lg-12" style="background-color: #edeff0; border: 2px solid black">
      <div style="max-width: 1200px; max-height: 100px;padding: 2pc;position: relative; height:200px">
        <div class="row">
          <div class="col-lg-6">
            <h4>{{todo.text}}</h4>
            <h4>Priority- {{todo.priority}}</h4>
            <h3>Completed- {{todo.completed}}</h3>
            <p>Due: {{todo.toBeCompletedBy}}</p>
            <h3>{{todo.completedAt}}</h3>
            <p>{{todo.category}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>








