<div class="container bg-overlay">
  <div class="row text-center">
    <h1>In case you haven't heard of Krello yet<br> Learn it before too late</h1>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg">Sign up- it's free</button>
  </div>
</div>

<br><br>



<div class="container bg-no-overlay">
  <div class="row text-center">
    <h1>If your are already family<br> then Come on in!!! </h1>
    <br><br>
    <button type="button" class="btn btn-success btn-lg">Come on in!!!</button>
  </div>
</div>


